{% load static %}
<div class="invite-teammembers">
  <div class="jumbotron greenback">
    <div class="jumbo-text">
      <div class="container">
        <div class="row justify-content-center">
          <h7>The team {{ project.team_id }} has beed created, we now need to add TeamMembers</h7>
        </div>
        <div class="row">
          <div class="jumbo-button2 justify-content-center">
            <a href="{% url 'registration:team_register3' pk1=project.id %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span>   Add Team Members</a>
          </div>
        </div>

      </div>
</div>
</div>
