{% load staticfiles %}
<div class="ajaxProgress">
  <h3>Please wait ...</h3>
  <img src="{% static 'images/ajax-loader.gif' %}" alt="">
</div>

<div class="applicant-dash">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card teamscore-card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Team Score</h5>
          <div class="card-body">
            <div class="chart" data-percent="{{team_score}}">
              <div class="score-text">
                  <span>{{team_score}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card appscore-card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Team Score with Applicant</h5>
          <div class="card-body">
            <div class="chart" data-percent="{{applicant_score}}">
              <div class="score-text">
                  <span>{{applicant_score}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card impact-card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Team impact</h5>
          <div class="card-body">
            <div class="impact-score score-text">
              {% if diff_score > 0 %}
                 + {{diff_score}}
              {% else %}
                 - {{diff_score}}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container model-list">
    <div class="row">
      <div class="col-md-12">
        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Complete models list</h5>
          <div class="card-body">
            <canvas id="mainGraph" width: "1200"; height="500"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Members Similarities with applicant</h5>
          <div class="card-body">
            <canvas id="mainGraph2" width: "1200"; height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container radar-container">
    <div class="row">
      <div class="col graph-info">
        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Information processing</h5>
          <div class="card-body">
            <div class="dropdown-container">
              <form>
                <select id="pick-chart" class="form-control pick-chart">
          						<option value="0">Compare with</option>
                        {% for i in team_list_pop %}
                      <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                     {% endfor %}
          			</select>
              </form>
            </div>
            <canvas id="info_process"></canvas>
          </div>
        </div>
      </div>
      <div class="col action-info">
        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Motivation</h5>
          <div class="card-body">
            <div class="dropdown-container">
              <form>
                      <select id="pick-chart2" class="form-control pick-chart2">
          						<option value="0">Compare with</option>
                      {% for i in team_list_pop %}
                      <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                     {% endfor %}
          					</select>
              </form>
            </div>
            <canvas id="action"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col motivation-info">
        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">Action</h5>
          <div class="card-body">
            <div class="dropdown-container">
              <form>
                <select id="pick-chart3" class="form-control pick-chart3">
                    <option value="0">Compare with</option>
                    {% for i in team_list_pop %}
                    <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                   {% endfor %}
                  </select>
              </form>
            </div>
            <canvas id="motivation"></canvas>
          </div>
        </div>
      </div>
      <div class="col behaviour-info">

        <div class="card box-shad">
          <h5 class="card-header text-center bg-dark text-white">To define</h5>
          <div class="card-body">
            <div class="dropdown-container">
              <form>
                <select id="pick-chart4" class="form-control pick-chart4">
                    <option value="0">Compare with</option>
                    {% for i in team_list_pop %}
                    <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                   {% endfor %}
                  </select>
              </form>
            </div>
            <canvas id="other"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" integrity="sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" integrity="sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js" integrity="sha256-65VrZtDIgFNXMsE+kzBqH4uB8vpABjMijjAnb9x8ViY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js" integrity="sha256-Olnajf3o9kfkFGloISwP1TslJiWUDd7IYmfC+GdCKd4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.js" integrity="sha256-i3ho1/Codzx8kHNbFzRpiP/VINC8DBPxy9dV1hMBQwU=" crossorigin="anonymous"></script>



<script>
  var endpoint = 'api/chart/data3'
  $('.ajaxProgress').show();
  $('.applicant-dash').hide();

  $(function() {
    $('.chart').easyPieChart({
    // The color of the curcular bar. You can pass either a css valid color string like rgb, rgba hex or string colors. But you can also pass a function that accepts the current percentage as a value to return a dynamically generated color.
    barColor: function (percent) {
   return (percent < 50 ? '#cb3935' : percent < 85 ? '#f0ad4e' : '#cb3935');
      },
    // The color of the track for the bar, false to disable rendering.
      trackColor: '#f2f2f2',
    // The color of the scale lines, false to disable rendering.
      scaleColor: false,
    // Defines how the ending of the bar line looks like. Possible values are: butt, round and square.
      lineCap: 'round',
    // Width of the bar line in px.
      lineWidth: 12,
    // Size of the pie chart in px. It will always be a square.
      size: 120,
    // Time in milliseconds for a eased animation of the bar growing, or false to deactivate.
      animate: 1000,
    // Callback function that is called at the start of any animation (only if animate is not false).
      onStart: $.noop,
    // Callback function that is called at the end of any animation (only if animate is not false).
      onStop: $.noop,

      onStep: function (from, to, percent) {
        $(this.el).find('.score-text').text(Math.round(percent));
  }
    });
  });


  function getAvg(grades) {
    return grades.reduce(function(p, c) {
      return p + c;
    }) / grades.length;
  }

  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
      console.log(data)
      //Labels comming from wevsite.views//
        complete_label = data.complete_label,
        app_sim_label = data.applicant_sim_label,
        app_sim_score = data.applicant_sim_score,
        //Data comming from wevsite.views//
        applicant_complete_data = data.applicant_complete_data,
        current_user = data.current_user,
        applicant_info_array = data.applicant_info_array[1],
        applicant_motivation_array = data.applicant_motivation_array[1],
        applicant_action_array = data.applicant_action_array[1],
        applicant_behav_array = data.applicant_behav_array[1],

        processing_information_label = data.processing_information_label,
        motivation_label = data.motivation_label,
        action_label = data.action_label,
        other_data_label = data.other_data_label,


        info_fixed_array = applicant_info_array[current_user],
        motivation_fixed_array = applicant_motivation_array[current_user],
        action_fixed_array = applicant_action_array[current_user],
        behaviour_fixed_array = applicant_behav_array[current_user]

      var array = [];
      var bar_color = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 220, 89, 0.2)',
        'rgba(255, 192, 35, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 220, 89, 0.2)',
        'rgba(255, 192, 35, 0.2)',
      ]

      function random_color() {
        var color = 'rgba(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + 0.2 + ')';
        return color
      }


      //ctx//
      var ctx = document.getElementById("mainGraph").getContext('2d');
      var ctx2 = document.getElementById("mainGraph2").getContext('2d');
      var ctx3 = document.getElementById("info_process").getContext('2d');
      var ctx4 = document.getElementById("action").getContext('2d');
      var ctx5 = document.getElementById("motivation").getContext('2d');
      var ctx6 = document.getElementById("other").getContext('2d');
      $('.ajaxProgress').hide();
      $('.applicant-dash').show();

      $(".pick-chart").change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != 0) {
          info_process.data.datasets[1].data = applicant_info_array[val];
          info_process.update();
        } else {
          info_process.data.datasets[1].data = [];
        }
        info_process.update();
      });
      $(".pick-chart2").change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != 0) {
          motivation.data.datasets[1].data = applicant_motivation_array[val];
          motivation.update();
        } else {
          motivation.data.datasets[1].data = [];
        }
        motivation.update();
      });
      $(".pick-chart3").change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != 0) {
          action.data.datasets[1].data = applicant_action_array[val];
          action.update();
        } else {
          action.data.datasets[1].data = [];
        }
        action.update();
      });
      $(".pick-chart4").change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != 0) {
          other.data.datasets[1].data = applicant_behav_array[val];
          other.update();
        } else {
          other.data.datasets[1].data = [];
        }
        other.update();
      });

      //Graph 1//
      var mainGraph = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: complete_label,
          datasets: [{
            data: applicant_complete_data,
            backgroundColor: bar_color,

          }]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              ticks: {
                autoSkip: false
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        },
      });
      //end graph 1//

      //graph 2 //
      var mainGraph2 = new Chart(ctx2, {
        type: 'horizontalBar',
        data: {
          labels: app_sim_label,
          datasets: [{
            data: app_sim_score,
            backgroundColor: bar_color,

          }]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              ticks: {
                autoSkip: false,
                beginAtZero: true,
                min: 0,
                max: 100,
              }
            }]
          },
          annotation: {
            annotations: [{
              type: "line",
              mode: "vertical",
              scaleID: "x-axis-0",
              value: getAvg(app_sim_score),
              borderColor: "rgba(216, 138, 138, 1)",
              label: {
                content: "AVERAGE",
                fontFamily: 'Ubuntu',
                enabled: true,
                position: "middle",
                fontSize: 10,
                backgroundColor: 'rgba(0,0,0,0.5)',
              }
            }]
          }
        },
      });
      //end graph 2//

      //graph 3//
      var info_process = new Chart(ctx3, {
        type: 'radar',
        data: {
          labels: processing_information_label,
          datasets: [{
              data: info_fixed_array, //processing_information_data,
              backgroundColor: 'rgba(102, 187, 158,0.2)',
              borderColor: 'rgb(102,187,158)',
              pointBackgroundColor: 'rgb(67, 122, 103)',
            },
            {
              backgroundColor: 'rgba(188,101,47,0.2)',
              borderColor: 'rgb(168,101,47)',
              pointBackgroundColor: 'rgb(155, 21, 6)',
              data: []
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          scale: {
            display: true,
            ticks: {
              beginAtZero: true,
            }
          },
          responsive: true,
          maintainAspectRatio: true,
        }
      });
      //end graph 3//

      //graph 4//
      var motivation = new Chart(ctx4, {
        type: 'radar',
        data: {
          labels: motivation_label,
          datasets: [{
              data: motivation_fixed_array, //processing_information_data,
              backgroundColor: 'rgba(102, 187, 158,0.2)',
              borderColor: 'rgb(102,187,158)',
              pointBackgroundColor: 'rgb(67, 122, 103)',
            },
            {
              backgroundColor: 'rgba(188,101,47,0.2)',
              borderColor: 'rgb(168,101,47)',
              pointBackgroundColor: 'rgb(155, 21, 6)',
              data: []
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          scale: {
            display: true,
            ticks: {
              beginAtZero: true,
            }
          },
          responsive: true,
          maintainAspectRatio: true,
        }
      });
      //end graph 4//

      //graph 5//
      var action = new Chart(ctx5, {
        type: 'radar',
        data: {
          labels: action_label,
          datasets: [{
              data: action_fixed_array, //processing_information_data,
              backgroundColor: 'rgba(102, 187, 158,0.2)',
              borderColor: 'rgb(102,187,158)',
              pointBackgroundColor: 'rgb(67, 122, 103)',
            },
            {
              backgroundColor: 'rgba(188,101,47,0.2)',
              borderColor: 'rgb(168,101,47)',
              pointBackgroundColor: 'rgb(155, 21, 6)',
              data: []
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          scale: {
            display: true,
            ticks: {
              beginAtZero: true,
            }
          },
          responsive: true,
          maintainAspectRatio: true,
        }
      });
      //end graph 5//

      //graph 6//
      var other = new Chart(ctx6, {
        type: 'radar',
        data: {
          labels: other_data_label,
          datasets: [{
              data: behaviour_fixed_array, //processing_information_data,
              backgroundColor: 'rgba(102, 187, 158,0.2)',
              borderColor: 'rgb(102,187,158)',
              pointBackgroundColor: 'rgb(67, 122, 103)',
            },
            {
              backgroundColor: 'rgba(188,101,47,0.2)',
              borderColor: 'rgb(168,101,47)',
              pointBackgroundColor: 'rgb(155, 21, 6)',
              data: []
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            display: false
          },
          scale: {
            display: true,
            ticks: {
              beginAtZero: true,
            }
          },
          responsive: true,
          maintainAspectRatio: true,
        }
      });
      //end graph 6//


    }
  })
</script>


{% endblock %}
