
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h5 class="card-header text-center bg-dark text-white">title Test</h5>
          <div class="card-body">
            <canvas id="mainGraph" width: "1200"; height="500"></canvas>
          </div>

        </div>
      </div>
    </div>
</div>


  <div class="container radar-container">
    <div class="row">
        <div class="col graph-info">

            <div class="card">
              <h5 class="card-header text-center bg-dark text-white">title Test</h5>
              <div class="card-body">
                <div class="dropdown">
                <button class="btn btn-secondary btn-sm btn-canvas dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Compare with
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for i in team_list_pop %}
                  <a class="dropdown-item" id="{{i.first_name}}_{{i.last_name}}" href="#">{{i.first_name}} {{i.last_name}}</a>
                 {% endfor %}
                </div>
                </div>
                <canvas id="info_process"></canvas>
              </div>
          </div>

      </div>
      <div class="col action-info">

            <div class="card">
              <h5 class="card-header text-center bg-dark text-white">title Test</h5>
              <div class="card-body">
                <div class="dropdown">
                <button class="btn btn-secondary btn-sm btn-canvas dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Compare with
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for i in team_list_pop %}
                  <a class="dropdown-item" id="{{i.first_name}}_{{i.last_name}}" href="#">{{i.first_name}} {{i.last_name}}</a>
                 {% endfor %}
                </div>
                </div>
                <canvas id="info_process2"></canvas>
              </div>
            </div>

      </div>
    </div>
    <div class="row">
      <div class="col motivation-info">

          <div class="card">
            <h5 class="card-header text-center bg-dark text-white">title Test</h5>
            <div class="card-body">
              <div class="dropdown">
              <button class="btn btn-secondary btn-sm btn-canvas dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compare with
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in team_list_pop %}
                <a class="dropdown-item" id="{{i.first_name}}_{{i.last_name}}" href="#">{{i.first_name}} {{i.last_name}}</a>
               {% endfor %}
              </div>
              </div>
              <canvas id="motivation"></canvas>
            </div>
        </div>

      </div>
      <div class="col behaviour-info">

          <div class="card">
            <h5 class="card-header text-center bg-dark text-white">title Test</h5>
            <div class="card-body">
              <div class="dropdown">
              <button class="btn btn-secondary btn-sm btn-canvas dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compare with
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in team_list_pop %}
                <a class="dropdown-item" id="{{i.first_name}}_{{i.last_name}}" href="#">{{i.first_name}} {{i.last_name}}</a>
               {% endfor %}
              </div>
              </div>
              <canvas id="behaviour"></canvas>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>



{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" integrity="sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" integrity="sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M=" crossorigin="anonymous"></script>

<script>
var endpoint = 'api/chart/data'


$.ajax({
  method: "GET",
  url: endpoint,
  success: function(data){
    console.log(data)
    //Labels comming from wevsite.views//
    team = data.team_list
    labels = data.labels
    labels_main = data.labels_main_graph
    labels_info = data.information_processing_label
    label_action = data.action_process_label
    label_motivation = data.motivation_label
    label_behaviour = data.behaviour_label
    //Data comming from wevsite.views//
    Main_Data = data.main
    Main_Data2 = data.main2
    info_data = data.info_process_data
    info_data2 = data.info_process_data2
    action_data = data.action_process_data
    motivation_data= data.motivation_data
    behaviour_data = data.behaviour_data
    //other
    team_name = data.team_name
    team_member_count = data.team_member_count
    team_name_list = data.team_name_list

    var bar_color = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 220, 89, 0.2)',
        'rgba(255, 192, 35, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 220, 89, 0.2)',
        'rgba(255, 192, 35, 0.2)',
    ]
    function random_color(){
      var color = 'rgba(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256))+ ',' + 0.2 + ')';
    return color
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
    //ctx//
    var ctx = document.getElementById("mainGraph").getContext('2d');
    var ctx2 = document.getElementById("info_process").getContext('2d');
    var ctx3 = document.getElementById("info_process2").getContext('2d');
    var ctx4 = document.getElementById("motivation").getContext('2d');
    var ctx5 = document.getElementById("behaviour").getContext('2d');

    //test var //
    var datasetValue = [];
    for (var j=0; j<team_member_count; j++) {
        datasetValue[j] = {
            backgroundColor: random_color(),
            label : name[j],
            data : info_data,
        };
    }
    var looped_data = datasetValue

    //end test //




    //Graph 1//
    var mainGraph = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels_main,
            datasets: [{
                data: Main_Data2,
                backgroundColor: bar_color ,

            }]
        },
        options: {
            responsive:true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [{
                ticks: {autoSkip: false}
                     }]
                    }
                 },
    });
    //end graph 1//

    //graph 2//
    var info_process = new Chart(ctx2,{
      type: 'radar',
      data: {
        labels: labels_info,
        datasets: looped_data
            },
        options: {
           scale: {display: true,
                   ticks: {
                     beginAtZero: true,
     }
                  },
           responsive:true,
           maintainAspectRatio: true,
          }
    });
    //end graph 2//

    //graph 3//
    var info_process = new Chart(ctx3,{
      type: 'radar',
      data: {
        labels: label_action,
        datasets: [{data: action_data,
                    label: team_name,
                    backgroundColor: "rgba(102, 187, 158, 0.2)",
                    borderColor: "rgba(102, 187, 158, 0.9)",
                    pointBackgroundColor: "black",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "yellow",
                    pointHoverBorderColor: "rgba(179,181,198,1)",

        }]
            },
        options: {
           scale: {display: true,
                   ticks: {
                     beginAtZero: true,
     }
                  },
           responsive:true,
           maintainAspectRatio: true,
          }
    });
    //end graph 3//

    //graph 4//
    var motivation = new Chart(ctx4,{
      type: 'radar',
      data: {
        labels: label_motivation,
        datasets: [{data: motivation_data,
                    label: team_name,
                    backgroundColor: "rgba(102, 187, 158, 0.2)",
                    borderColor: "rgba(102, 187, 158, 0.9)",
                    pointBackgroundColor: "black",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "yellow",
                    pointHoverBorderColor: "rgba(179,181,198,1)",

        }]
            },
        options: {
           scale: {display: true,
                   ticks: {
                     beginAtZero: true,
     }
                  },
           responsive:true,
           maintainAspectRatio: true,
          }
    });
    //end graph 4//

    //graph 5//
    var motivation = new Chart(ctx5,{
      type: 'radar',
      data: {
        labels: label_behaviour,
        datasets: [{data: behaviour_data,
                    label: team_name,
                    backgroundColor: "rgba(102, 187, 158, 0.2)",
                    borderColor: "rgba(102, 187, 158, 0.9)",
                    pointBackgroundColor: "black",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "yellow",
                    pointHoverBorderColor: "rgba(179,181,198,1)",

        }]
            },
        options: {
           scale: {display: true,
                   ticks: {
                     beginAtZero: true,
     }
                  },
           responsive:true,
           maintainAspectRatio: true,
          }
    });
    //end graph 5//

//ending sucess
  },

  error: function(error_data){
    console.log("error")
    console.log(error_data)
  }
})



</script>


{% endblock %}
