{% load bootstrap %}
{% load static %}
{% load i18n %}
{% load survey_extras %}

<table class="table">
    <!--<thead>
      <tr>
        <th> Question  </th>
        <th> Answers </th>
      </tr>
    </thead> -->
<tbody>
  {% for form in response_form %}
	     {% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
          <tr class="{% if form.errors%} danger {% endif %}">
              <td>
                <div class="">
                  <div class="question-title row">
                    <div class="col-5">
                      <img class="img-fluid" src="{% get_static_prefix %}images/images-survey/image{{response_form.step}}.jpg" onerror="this.src='{% get_static_prefix %}images/images-survey/image.jpg';" />

                    </div>
                    <div class="col-7">
                      <h5>{{ form.label|safe }}</h5>
                    </div>
                  </div>
                </div>

	              {% if form.field.required %}
	                <span class="glyphicon glyphicon-asterisk" style="color:red"> </span>
	              {% endif %}
  	            <span class="help-inline" style="color:red">
  	                <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
  	            </span> <br>

              <div class="answers">
                  {% for field in form %}
                      <ul>
                        {{ field }}
                      </ul>
                  {% endfor%}

                  <!--{% if "hidden" in form.field.widget.attrs %}-->
                      <p id="check" hidden>{{ type }}</p>
                      {% if "scale" == type %}<br>
                          {% for scale in scales %}
                              {{ scale|safe }}
                          <div id="rate" class="scale"></div>
                          <div class="scale-title">
                              <div class="">
                                  <div class="row">
                                      <div class="col scaleleft">
                                        0%
                                      </div>
                                      <div class="col scaleright">
                                        100%
                                      </div>
                                  </div>
                                </div>
                          </div>
                          <br>
                          {% endfor %}
                      {% elif 'choice-scale' == type %}
                          <br>
                          {% for scale in scales %}
                              <div class="row questionbox">
                                <div class="col-1">
                                  <input onclick="peace(this)" name="{{ forloop.counter0 }}" type="checkbox" style="margin-right: 5px" class="checkbox">
                                </div>
                                {{ scale|safe }}
                              </div>
                              <br>
                             <div id="rate" class="scale"></div>
                             <div class="scale-title">
                                 <div class="container">
                                     <div class="row">
                                         <div class="col scaleleft">
                                           0%
                                         </div>
                                         <div class="col scaleright">
                                           100%
                                         </div>
                                     </div>
                                   </div>
                             </div>
                              <br><br>
                          {% endfor %}
                      {% endif %}
            <!--  {% endif %} -->
              </div>

            </td>
        </tr>
	{% endif %}
{% endfor %}
    </tbody>
</table>

<script>
// Initialize tooltip component

$('.scale').tooltip({
    selector: '[data-toggle="tooltip"]',

});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})





</script>
