{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block body %}

<div class="row">
  <div class="col HRimg">

  </div>
  <div class="col">
    <div class="row justify-content-center">
      <div class="col">
        <div class="form-area2">
          <div class="intr-area">
            <h2>Sign-In</h2>
            <hr class="title-separator">
            <h5>Please sign-in in order to access the application</h5>
            <br>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="">
              {% bootstrap_form Manager_form layout='inline' %}

          </div>
            <div class="offset-md-4">
          <button type="submit" class="btn btn-primary btn-lg btnsmallfont">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>


{% endblock %}
