{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container paddingtop100 invite-teammember">
  <div class="jumbotron">
    <div class="title">
      <h2>Send Invitations</h2>
      <hr class="title-separator2">
      <h4>Your SoftScores workplace is almost ready to go, it is time to invite your team</h4>
      <h6>Please provide the team members email</h6>
    </div>
  </div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 col-bord">
      <div class="logo">
          <img src="{% static "images/logo-symb.png" %}" width="10%" class="img-fluid" alt="Responsive image">
      </div>
      <div class="team-title-text">
        Invite members to your team
      </div>

      <div class="form-tag">
        Email adress:
      </div>
      <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}

            <div class="link-formset">

              {% for field in form %}
               {{ field }}
                   {# {{ form }} #}
              {% endfor %}

             </div>

         {% endfor %}

        <div class="invite-button d-flex justify-content-center">
          <input type="submit" value="Send Invitations" class="btn btn-primary"/>
        </div>

     </form>
    </div>
  </div>

</div>



</div>
         <!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'add member',
        deleteText: 'remove'
             });
</script>


{% endblock %}
