

{% load i18n %}


<div id="intro" class="container-fluid">
<div class="row">
	<div class="col"></div>
	<div class="col-8">
		<div class="content">
			<h6>You've have one survey that is waiting for you and not for other</h6>
		</div>

		<div class="survey-listing">
			<ul>
				{% for survey in surveys %}
				<div class="takeSurvey_btn">
					<a href="{{ survey.get_absolute_url }}" class="btn btn-primary btn-sm btn-block">{% trans "Take the Survey"%} {{survey.name}}</a>
				</div>
				{% endfor %}
			</ul>
		</div>

	</div>
	<div class="col"></div>
</div>

</div>
