.bg {
    /* The image used */
    background-image: url("/static/images/indexbg.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Login/SignIn Page */

.HRimg{
background-image: url("/static/images/ImgBackground.png");
background-size: 100%;
height: 100vh;
}

.HRimg2{
background-image: url("/static/images/ImgBackground2.png");
background-size: 100%;
height: 100vh;
}

.HRimg3{
background-image: url("/static/images/ImgBackground3.png");
background-size: 100%;
height: 100vh;
}


.form-area{
margin-right:12%;
margin-left:8%;
margin-top:20%;
font-family: 'Ubuntu', sans-serif;
}

.intr-text{
  margin-bottom: 10%;

}

.title-separator{
border-top: 1px solid #67a4d0;
max-width: 500px;
margin: 2em 0;
}

/*----------------------------------------------------------------------------*/

/* NavBar */
.navbar{
  border-radius: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand>img {
  width: 50%;
}


/*----------------------------------------------------------------------------*/


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/*----------------------------------------------------------------------------*/

.invite-team{
  text-align: center;
}

.invite-teammembers{
  text-align: center;
}

.jumbo-button{
  margin-top:20px;
}

.success{
  text-align: center;
}

.circle{
  border-radius: 50%;
	width: 20px;
	height: 20px;
  background-color: green;
  color:white;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  }


.team-container{
  text-align:center;
}



.margintop10{
  margin-top: 10px;
}

.marginbottom30{
  margin-bottom:30px;
}

.survey-description{

}

.survey-listing{
  margin-top: 30px;
}

.survey-list{
  margin-top: 30px;
}

.question-title, .answers{
  font-family: 'Ubuntu', sans-serif;
}

.question-title{
  color:#66bb9e;
}

.question-title .col-7{
  margin:auto;
}

.question-title .col-7 h5{
  line-height: 1.7rem
}

.answers{
  background-color: rgba(102, 187, 158, 0.1);
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom:5px;
  padding-left: 15px;
  padding-right:15px;
}

.suveysubmit{

}

.surveysubmitcontent{

}


.notregistredyet{
  font-size: 0.7rem;
}

.container .team-container .col{
  padding: 15px;
}

.container .team-container .profil_pic{
  text-align:center;
  border-radius: 0px;
  background-color: rgba(102, 187, 158, 0.1);
  padding-top: 30px;
  padding-bottom: 15px;

}

.bord{
  border: 1px solid rgba(102, 187, 158, 0.2);
}

.OuterContent{

  height: 100px;
}

.InnerContent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.warning{
  padding-top:30px;
}

.main-graph{
  border: 1px solid rgba(102, 187, 158, 0.3);
  border-radius: 15px;
  background-color: rgba(102, 187, 158, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
}

.graph-info, .motivation-info{
  padding-left: 0;
  padding-right:5px;
}

.action-info, .behaviour-info{
  padding-right:0;
  padding-left:5px;
}



.radar-container{
  margin-top:30px;
}

.classWithPad {
  border: 1px solid rgba(102, 187, 158, 0.3);
  border-radius: 15px;
  background-color: rgba(102, 187, 158, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
}

.radar-container .row{
  margin-bottom:15px;
}

.classWithPad h2{
  text-align: center;
  background-color: #292B2C;
  color: white;
}

.greenback{
  background-color: rgba(102, 187, 158, 0.1);
}

.redback{
  background-color: rgba(216, 0, 0, 0.1);
}

.result-link{
  font-size: 0.8rem;
}

.btn-canvas{
  border-radius: 0 !important;
  background-color: rgba(102, 187, 158, 1);
  font-size: 0.7rem;
}

.dropdown-menu{
  font-size:0.7rem;
}

.questionbox input{
  margin-left:35%;
}

.questionbox .col-11{
  padding-left:7%;
  padding-right:15%;
  word-wrap: break-word;
}

.select.form-control:not([size]):not([multiple]) {
    height: calc(1.25rem + 2px);
}

.graph-container .row{
  margin-bottom: 20px;
}

.inner-score{
  text-align: center
}

.jumbotron.greenback{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mar20{
  margin-top:25px;
  margin-bottom:25px;
}
