.bg {
    /* The image used */
    background-image: url("/static/images/indexbg.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Login/SignIn Page */

.HRimg{
background-image: url("/static/images/ImgBackground.png");
background-size: 100%;
height: 100vh;
}

.HRimg2{
background-image: url("/static/images/ImgBackground2.png");
background-size: 100%;
height: 100vh;
}

.HRimg3{
background-image: url("/static/images/ImgBackground3.png");
background-size: 100%;
height: 100vh;
}


.form-area{
margin-right:12%;
margin-left:8%;
margin-top:20%;
font-family: 'Ubuntu', sans-serif;
}

.intr-text{
  margin-bottom: 10%;

}

.title-separator{
border-top: 1px solid #67a4d0;
max-width: 500px;
margin: 2em 0;
}

.title-separator2{
border-top: 1px solid #66bb9e;
max-width: 250px;
margin: 2em 0;
}

/*----------------------------------------------------------------------------*/

/* NavBar */
.navbar{
  border-radius: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand>img {
  width: 50%;
}


/*----------------------------------------------------------------------------*/


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}

/*----------------------------------------------------------------------------*/


.invite-team{
  text-align: center;
}

.invite-teammembers{
  text-align: center;
}

.jumbo-button{
  margin-top:20px;
}

.success{
  text-align: center;
}

.circle{
  border-radius: 50%;
	width: 10px;
	height:10px;
  background-color: #66bb9e;
  color:white;
  text-align: center;
  margin-left: 2rem ;
  margin-right: auto ;
  }

  .circle2{
    border-radius: 50%;
  	width: 10px;
  	height:10px;
    background-color: #bb7b66;
    color:white;
    text-align: center;
    margin-left: 2rem ;
    margin-right: auto ;
    }


.team-container{
  text-align:center;
}



.margintop10{
  margin-top: 10px;
}

.marginbottom30{
  margin-bottom:30px;
}

.survey-description{

}

.survey-listing{
  margin-top: 30px;
}

.survey-list{
  margin-top: 30px;
}

.question-title, .answers{
  font-family: 'Ubuntu', sans-serif;
}

.question-title{
  color:#66bb9e;
}

.question-title .col-7{
  margin:auto;
}

.question-title .col-7 h5{
  line-height: 1.7rem
}

.answers{
  background-color: rgba(102, 187, 158, 0.1);
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom:5px;
  padding-left: 15px;
  padding-right:15px;
}

.suveysubmit{

}

.surveysubmitcontent{

}


.notregistredyet{
  font-size: 0.7rem;
}

.container .team-container .col{
  padding: 15px;
}

.container .team-container .profil_pic{
  text-align:center;
  border-radius: 0px;
  background-color: rgba(102, 187, 158, 0.1);
  padding-top: 30px;
  padding-bottom: 15px;

}

.bord{
  border: 1px solid rgba(102, 187, 158, 0.2);
}

.OuterContent{

  height: 100px;
}

.InnerContent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.warning{
  padding-top:30px;
}

.main-graph{
  border: 1px solid rgba(102, 187, 158, 0.3);
  border-radius: 15px;
  background-color: rgba(102, 187, 158, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
}

.graph-info, .motivation-info{
  padding-left: 0;
  padding-right:5px;
}

.action-info, .behaviour-info{
  padding-right:0;
  padding-left:5px;
}



.radar-container{
  margin-top:30px;
}

.classWithPad {
  border: 1px solid rgba(102, 187, 158, 0.3);
  border-radius: 15px;
  background-color: rgba(102, 187, 158, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
}

.radar-container .row{
  margin-bottom:15px;
}

.classWithPad h2{
  text-align: center;
  background-color: #292B2C;
  color: white;
}

.greenback{
  background-color: rgba(102, 187, 158, 0.1);
}

.redback{
  background-color: rgba(216, 0, 0, 0.1);
}

.darkredback{
  background-color:rgb(244,114,70);
}

.orangeback{
  background-color: rgb(252,240,229);
}


.result-link{
  font-size: 0.8rem;
}

.btn-canvas{
  border-radius: 0 !important;
  background-color: rgba(102, 187, 158, 1);
  font-size: 0.7rem;
}

.dropdown-menu{
  font-size:0.7rem;
}

.questionbox input{
  margin-left:35%;
}

.questionbox .col-11{
  padding-left:7%;
  padding-right:15%;
  word-wrap: break-word;
}

.select.form-control:not([size]):not([multiple]) {
    height: calc(1.25rem + 2px);
}

.graph-container .row{
  margin-bottom: 20px;
}

.inner-score{
  text-align: center
}

.jumbotron.greenback{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mar20{
  margin-top:25px;
  margin-bottom:25px;
}

.question{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.margin20{
  margin-bottom: 30px;
}

.question-section{
  padding: 3rem 0;
}

.jumbo-text{
  margin-bottom:10px;
}
.jumbo-button2{
  padding-top: 20px;
  margin: auto;
}

.warning-text p{
  font-size: 14px;
}

.warning .jumbotron{
  padding: 3rem 2rem 1rem
}

.img-warning{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.warn-container{
  margin-top:35px;
}

.btn-text{
  font-size:12px;
}


.candidate_list .row{
  margin-bottom: 25px;
}

.applicant-dash .card-body{
  text-align: center;
}


.applicant-dash .row{
  margin-bottom:30px;
}

.model-list{
  margin-bottom: 30px;
}

.project_list table thead th{
  font-weight: 500;
}


.ajaxProgress{
  display: none;
  text-align: center;
  padding:20px;
  width = 300px;
}



.applicant-dash .card-header{
  font-weight:300;
}

.box-question h3{
  text-decoration: underline;
  text-decoration-color: rgb(102, 187, 158);
}


.intr-text h4{
  font-weight:300
}

.title-jumbo h3{
  font-weight:300;
}

.col-bord{
  border: 0.032rem solid #e8e8e8;
  border-radius: 25px;
  padding:2rem 6rem;
}
.invite-teammember{
  margin-bottom:35px;
}
.invite-teammember .jumbotron{
  padding: 2rem 2rem;
}

.invite-teammember .link-formset input{
  width : 300px;
  padding:0.5rem;
  margin-bottom:10px;
  font-weight:300;

}

.form-tag{
  margin-bottom:5px;
}

.team-title-text{
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  margin-bottom:25px;
}

.logo{
  text-align:center;
  margin-bottom:10px;
}


.invite-button{
  margin-top:15px;
}
