<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>SoftScore - Team Recruitment Analytics</title>
    <!-- CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/master.css' %}">
    <link href="{% static 'css/widgets.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% block extracss %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico'%}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico'%}"/>

    <!-- Fonts-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Java Script-->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper-utils.min.js" integrity="sha256-8h5msWnq3iF3K5ntJlLObPIzG7+48GOyk32q0CJdRGI=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.4/js/jquery.tablesorter.js" integrity="sha256-9kqrSdgKTE8E6A94yfeahUKKP1bwZNrh4HO9H6gCz/A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.4/js/jquery.tablesorter.widgets.js" integrity="sha256-ulL5Ln7fwxHfXScZcGp9l0O+BiMwMBOsc5yYVdD7qdk=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            {% if user.is_anonymous %}
            <li class="nav-item green-menu"><a class="nav-link js-scroll-trigger" href="{% url 'pricing' %}">Pricing</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item green-menu"><a class="nav-link js-scroll-trigger" href="{% url 'website:hr_index'%}"><span class="fa fa-user-circle"></span> {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
            <li class="nav-item green-menu"><a class="nav-link js-scroll-trigger" href="{% url 'registration:logout'%}"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
            {% else %}
            <li class="nav-item green-menu"><a class="nav-link js-scroll-trigger signin" href="{% url 'registration:manager_register' %}"><span class="fas fa-sign-in-alt"></span> SignIn</a></li>
            <li class="nav-item green-menu"><a class="nav-link js-scroll-trigger login" href="{% url 'registration:HRlogin' %}"><span class="fas fa-sign-in-alt"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Message -->
      {% if messages%}
      <div class="row">
        <div class="col-xl-offset-12">

              {% for message in messages%}
                <p{% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }}</p>
              {% endfor %}

        </div>
      </div>
      {% endif %}
    <!-- End Message -->

    {% block body %}
    {% endblock %}

    {% block extrajs %}{% endblock %}
  </body>
</html>
