{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container paddingtop100 manager-index">
<div class="invite-team">
  <img src="{% static 'images/project.png'%}" class="img-fluid" alt="Responsive image">
  <div class="jumbotron">
    <div class="container">
      <div class="row justify-content-center">
        <div class="jumbo-text">
          <h7>Your project has been created, It is time to create a new team for your project</h7>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="jumbo-button">
          <form class="form-inline" method="POST">
              {% csrf_token %}
              {% include 'form-template.html' %}
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
