{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-5 HRimg3">

        </div>

        <div class="col take-survey">
            <div class="warning">
                <div class="container-fluid warn-container">
                  <div class="row justify-content-center">
                    <div class="col-2">
                      <div class="img-warning">
                        <img src="{% static 'images/warning.png'%}" class="img-fluid box-glow" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="jumbotron warning-text">
                          <p>
                            Welcome to our application, we are glad you got here.  We built this app with one goal in mind, help companies build better teams, and reduce friction between team members.
                          </p>
                          <p>
                            In the following, you will face a serie of questions that you will have to answer. Pick the one that is closer to you and rate it using the 0-100 scale
                          </p>
                          <p>
                            There is no right or wrong answer, just pick the one that feels right to you. 
                          </p>
                          <p>
                            Nb: We built a test validation score in order to prevent users that would tend to not answer in a consistent way
                          </p>
                        </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    {% include "survey/list.html" %}
                  </div>
              </div>

          </div>
  </div>


</div>
</div>


{% endblock %}
