{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<div class="container paddingtop100">
  <div class="jumbotron">

    <div class="row">
      <div class="col">
        <div class="title-jumbo">
          <h3>It is time to create a new project</h3>

        </div>
        <a href="{% url 'website:add_project' %}" class="btn btn-primary btn-lg btnsmallfont" role="button"><span class="glyphicon glyphicon-plus"></span>   Create a project</a>
      </div>
      <div class="col quote">
        "“Who is on a team matters less than how the team members interact, structure their work, and view their contributions"
      </div>
    </div>




  </div>

  <div class="project_list">
    <h3 class="project-title">Project List</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Team Linked</th>
          <th>Created at</th>
          <th>Open/Close</th>
          <th>edit</th>
        </tr>
    </thead>
    <tbody>
{% for i in project_list %}
      <tr>

        <td>{{i.name}}</td>
        <td>{{i.team_id}}</td>
        <td>gogo</td>
        <td><div class="circle"><span class="glyphicon glyphicon-ok"></span></div></td>

        <td> <a href="{% url 'website:ProjectDetails' pk1=i.id %}">Details</a></td>

      </tr>
{% endfor %}
    </tbody>

  </table>

  </div>


</div>


{% endblock %}
