{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container paddingtop80 marginbottom30">
    <div class="row">
        {% if project.has_member_responses %}
    <div class="col-8">
        <div class="jumbotron greenback">
            <h4>Welcome to the Project test "{{  project.name }}" Detail page</h4>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron greenback">
            <div class="inner-score">
                <div class="score-title">
                  <h6>Team Score</h6>
                </div>
                <div class="score-value">
                    <h2>{{score}}</h2>
                    <h8>Cohesive team</h8>
                </div>
            </div>
        </div>
   </div>

    {% else %}
      <div class="col">
        <div class="jumbotron greenback">
          <h4>Welcome to the Project "{{  project.name }}" Detail page</h4>
        </div>
      </div>
    {%endif%}
</div>

<!-- case 1 = if there is not team created or linked -->
    {% if project.team_id == None  %}
      {% include "projectdetailtemp/noteamcreated.html" %}
<!-- case 2 = if there is a team created but no team members -->
    {% elif project.team_id and project.team_id.members.count == 0 %}
      {% include "projectdetailtemp/teamnomember.html" %}
<!-- any other situation -->
    {% else %}
      {% include "projectdetailtemp/other.html" %}
    {% endif %}


{% if project.has_member_responses  %}
  {% include "survey/team_dashboard.html" %}
{% elif project.team_id and project.team_id.members.count > 0 %}
  <div class="jumbotron redback">
      We are still waiting for all members to answer the team questionnaire
  </div>
  {% else %}

{% endif %}
</div>
{% endblock%}

{% block extrajs %}
<script>
$(document).ready(function() {

  var jumboMaxHeight = 0

  $(".jumbotron").each(function(){
    if ($(this).height() > jumboMaxHeight) {
      jumboMaxHeight = $(this).height() }
    })

  $(".jumbotron").height(jumboMaxHeight)

})
  </script>

{% endblock %}
