{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container paddingtop80 marginbottom30">
  <div class="jumbotron">
    <h4>Welcome to the Project "{{  project.name }}" Detail page</h4>
  </div>

<!-- case 1 = if there is not team created or linked -->
  {% if project.team_id == None  %}
    <div class="invite-team">
      <div class="jumbotron">
        <div class="jumbo-text">
          <h7>Your project has been created, It is time to link a team or create a new for your project</h3>
        </div>
          <div class="jumbo-button">
            <a href="{% url 'website:team_select'%}" class="btn btn-secondary" role="button"><span class="fa fa-link"></span>   Link an existing team</a>
            <a href="{% url 'website:add_team' %}" class="btn btn-success" role="button"><span class="fa fa-plus-circle"></span>   Create a new team</a>
          </div>
      </div>

<!-- case 2 = if there is a team created but no team members -->

{% elif project.team_id and project.team_id.members.count == 0 %}
<div class="invite-teammembers">
  <div class="jumbotron">
    <div class="jumbo-text">
      <h7>The team {{ project.team_id }} has beed created, we now need to add TeamMembers</h7>
    </div>
      <div class="jumbo-button">
        <a href="{% url 'registration:team_register3' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span>   Add Team Members</a>
      </div>
  </div>
</div>

<!-- any other situation -->
  {% else %}
    <h3>{{project.team_id}}</h3>
    <div class="team-container">

      {% for member in project.team_id.members.all %}
      {% if forloop.counter0|divisibleby:4 or forloop.first  %}
        <div class="row">
      {% endif%}

        <div class="col">
              {% if member.first_name == None or member.last_name == None %}
                <div class="bord">
                    <div class="profil_pic">
                      <img src="{% static "images/peoplebw.png" %}" alt="" style="height:100px">
                    </div>
                </div>
                <div class="OuterContent">
                  <div class="InnerContent">


                    <div class="name_content">
                        <div class="email">
                           {{ member.email }}
                        </div>
                        <div class="notregistredyet">
                          Not Registred yet
                        </div>
                    </div>


              {% else %}
              <div class="bord">
                  <div class="profil_pic">
                    <img src="{% static "images/people.png" %}" alt="" style="height:100px">
                  </div>
              </div>
              <div class="OuterContent">
                <div class="InnerContent">


                  <div class="name_content">
                      {{ member.first_name}} {{ member.last_name}}
                  </div>


              {% endif %}
            <div class="">
              {% if member.response_set.count > 0 %}
                Survey has been taken - <span class="fa fa-thumbs-o-up" aria-hidden="true" style="color:green"></span>
              {% else %}
               Survey has not been taken yet - <span class="fa fa-thumbs-o-down" aria-hidden="true" style="color:red"></span>
              {% endif%}
            </div>
        </div>
      </div>
      </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
          </div>
        {% endif %}

        {% endfor %}
          </div>
    </div>




  {% endif %}
  </div>
</div>

{% endblock%}
