{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container paddingtop80 marginbottom30">
  <div class="jumbotron greenback">
    <h4>Welcome to the Project "{{  project.name }}" Detail page</h4>
  </div>

<!-- case 1 = if there is not team created or linked -->
    {% if project.team_id == None  %}
      {% include "projectdetailtemp/noteamcreated.html" %}<
<!-- case 2 = if there is a team created but no team members -->
    {% elif project.team_id and project.team_id.members.count == 0 %}
      {% include "projectdetailtemp/teamnomember.html" %}<
<!-- any other situation -->
    {% else %}
      {% include "projectdetailtemp/other.html" %}
    {% endif %}


{% if project.team_id and project.team_id.members.count > 0  %}
  {% include "survey/team_dashboard.html" %}
{% endif %}
</div>
{% endblock%}
